<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="Sir_SQLSERVER" connectionString="Server=DT-SRVDB040\SQL_DEVMTO;database=SIR_TEST;User ID=ActualizadorSIR;Password=actsir01"
      providerName="System.Data.SqlClient" />
	</connectionStrings>


</configuration>